


* {
	box-sizing: border-box;
}

body {
    background-image: url("../images/superhero-background.jpg");
}

h1, h2 {
	color: white;
}

div {
	border: 3px dashed black;
	text-align: center;
	line-height: 30px;
}

div img {
	padding: 50px;
}

div p {
	padding: 10px;
	color: white;
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;

}

#heroPicture {
	width: 25px
	height: 25px;
}